/* Wedia video preview. */
.wedia-video-preview {
  display: block;
  overflow: scroll;
}
.wedia-video-preview.hidden {
  display: none !important;
}
/* Code embed. */
textarea.wedia-video-html {
  display: none !important;
}
/* Open Wedia buton. */
input.wedia-video-insert-button {
  display: block !important;
}
