/* Hide textarea of HTML embed code. */
.wedia-asset-code-embed.hidden {
  display: none !important;
}
/* Hide submit button to clear the field. */
.wedia-asset-clear-action.hidden {
  display: none !important;
}
