/* Container for the popin of Wedia content picker. */
div.wedia-content-picker {
  display: none;
  position: relative;
}
/* Styles applied when the popin is shown. */
div.wedia-content-picker.is_open {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100vw - 50px);
  height: calc(100vh - 40px);
  z-index: 999;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
}
/* Container for iframe of Wedia content picker. */
div.wedia-content-picker-iframe {
  height: calc(100% - 30px);
  background: #f8f8f8;
}
/* Button to close the popin. */
.wedia-content-picker-close {
  width: 30px;
  height: 30px;
  display: block;
  background: red;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  cursor: pointer;
}
/* Popin header that contains the close button. */
.wedia-content-picker-header {
  background: white;
  position: relative;
  height: 30px;
}
