{#
/**
 * @file
 * Default theme implementation to display a Wedia generic asset field.
 *
 * Available variables:
 * - uri: Image source URL.
 * - alt: Image alternative text to describe the image.
 * - width: Image width from the image style configured.
 * - height: Image height from the image style configured.
 * - code_embed: Code embed of the asset.
 * - type: Asset type.
 *
 * @see template_preprocess_wedia_asset_formatter()
 *
 * @ingroup themeable
 */
#}
{% if type == "photo" %}
  <img src="{{ uri }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}">
{% else %}
  {{ code_embed|raw }}
{% endif %}
