{#
/**
 * @file
 * Default theme implementation to display a Wedia image field.
 *
 * Available variables:
 * - uri: Image source URL.
 * - alt: Image alternative text to describe the image.
 * - width: Image width from the image style configured.
 * - height: Image height from the image style configured.
 *
 * @see template_preprocess_wedia_image_formatter()
 *
 * @ingroup themeable
 */
#}
<img src="{{ uri }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}">
