{#
/**
 * @file
 * Default theme implementation to display a Wedia image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_wedia_image_formatter()
 *
 * @ingroup themeable
 */
#}
<img src='{{ uri }}' alt='{{ alt }}'>
