{#
/**
 * @file
 * Default theme implementation to display a Wedia video field.
 *
 * Available variables:
 * - html: Iframe HTML markup with all preset attributes.
 * - width: Iframe video width.
 * - height: Iframe video height.
 *
 * @see template_preprocess_wedia_video_formatter()
 *
 * @ingroup themeable
 */
#}
{{ html|raw }}
